[submodule "AI"]
	path = AI
	url = https://github.com/Google-Solution-Challenge-Netwalk/AI.git
[submodule "SpringBoot"]
	path = SpringBoot
	url = https://github.com/Google-Solution-Challenge-Netwalk/SpringBoot.git
